<template name="importByUrl">
  <h2>Import</h2>
  <form>
    <div class="form-group {{#if formError}}has-danger{{/if}}">
      <label> Put URL in the box below </label>
      <input type="text" class="form-control form-control-lg {{#if formError}}form-control-danger{{/if}}" name="url" placeholder="http://...." />
      {{#if formError }}
        <span class="form-control-feedback">{{ formError }}</span>
      {{/if}}
    </div>

    {{#unless isProcessing }}
      <button type="submit" class="btn btn-primary">Process</button>
    {{ else }}
      <button type="submit" disabled class="btn btn-primary">Loading... </button>
      {{> spinner }}
    {{/unless}}
  </form>
</template>
