<template name="importResult">
  <h1>Imported:</h1>

  {{#if Template.subscriptionsReady }}
    {{ scrapedPage.createdAt }}
    <div class="form-group">
      <label class="form-control-label" for="title">Title</label>
      <input value="{{ scrapedPage.scrapedData.title }}" class="form-control" id="title" />
    </div>
    <div class="details">
      {{{ scrapedPage.scrapedData.details }}}
    </div>

    <div class="form-group">
      <label class="form-control-label" for="price">Price</label>
      <input value="{{ scrapedPage.scrapedData.price }}" class="form-control" id="price" />
    </div>

  {{ else }}
    {{> spinner }}
  {{/if}}
</template>
