<template name="importResults_form">
  <form>
    <div class="form-group">
      <label class="form-control-label" for="title">Title</label>
      <input value="{{ scrapedPage.scrapedData.title }}" class="form-control" id="title" />
    </div>

    <div class="form-group">
      <label class="form-control-label">Images</label>
      {{> importResults_imagesList images=scrapedPage.scrapedData.images }}
    </div>

    <div class="form-group">
      <label class="form-control-label" for="details-area">Description</label>
      <textarea id="details-area">{{{ scrapedPage.scrapedData.details }}}</textarea>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="price">Price</label>
      <input value="{{ scrapedPage.scrapedData.price }}" class="form-control" id="price" />
    </div>

    <div class="form-group row">
      <div class="col-6">
        {{> importResults_categorySelect label="Category" inputName="categoryId" }}
      </div>
      <div class="col-6">
        {{# each parentCategoryId in getCurrentCategoryId }}
          {{> importResults_categorySelect label="Subcategory" inputName="subcategoryId" parentCategoryId=parentCategoryId }}
        {{/each}}
      </div>
    </div>

    <button type="submit" class="btn btn-success">Publish to eBay</button>
  </form>
</template>
