<template name="importResults_Page">
  <h1>Imported:</h1>

  {{#if Template.subscriptionsReady }}
    {{> importResults_form scrapedPage=scrapedPage }}

    <hr>
    {{ scrapedPage.createdAt }}
  {{ else }}
    {{> spinner }}
  {{/if}}
</template>


<template name="imagesList">
  <div id="image-preview">
    {{#if selectedImg }}
      <img src="{{ selectedImg }}" />
    {{/if}}
  </div>
  <ul>
    {{#each img in images }}
      <li>
        <a href="{{@index}}">
          <img src="{{ img }}" />
        </a>
      </li>
    {{/each}}
  </ul>
</template>
